@import url("https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

* {
  padding: 0;
  margin: 0;
  z-index: 10;
}
html {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  --gunmetal: #292f36ff;
  --medium-turquoise: #4ecdc4ff;
  --mint-cream: #f7fff7ff;
  --bittersweet: #ff6b6bff;
  --yellow-crayola: #ffe66dff;
}
.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}
.title {
  font-family: "Poiret One", cursive;
}
.bg-text {
  z-index: 0;
  top: 0;
  position: absolute;
  user-select: none;
  overflow: hidden;
  word-break: break-all;
  font-weight: 900;
  font-size: 15rem;
  line-height: 1.1;
}
